.aboutus {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  // align-items: center;
  justify-content: space-between;
  // white-space: nowrap;

  .about_left .about_right{
    flex: 1;
  }

  img {
    margin-top: 40px;
    margin-left: 60px;
    width: 550px;
    height: auto;
  }

  .about_right {
    width: 100%;
    text-align: flex-end;
    padding: 300px 200px 200px 200px;
  
    h2 {
      font-size: 14px;
      font-weight: bold;
      // padding-bottom: 20px;
    }
  
    .aboutus {
      width: 100%;
      font-size: 12px;
    
      p {
        font-size: 12.5px;
      }
    }
  }
  
}
