.titleArea {
  width: 100%;
  text-align: center;

  h2 {
    font-weight: bold;
    font-size: 14px;
  }
}

.ad_wrap {
  padding-top: 30px;
  text-align: center;

  p {
    font-size: 14px;
  }

  .ad_content {
    border: 2px solid black;
    margin: 10px auto;
    width: 1000px;
  }
}

.ad_mom {
  display: flex;
  justify-content: center;

  .ad_btn_submit {
    width: 800px;
    height: 45px;
    border-radius: 60px;
    margin-top: 70px;
    line-height: 37px;
  }
}
