.titleArea {
  width: 100%;
  text-align: center;
  padding-bottom: 40px;

  h2 {
    font-weight: bold;
    font-size: 14px;
  }
}

.ad_wrap {
  text-align: center;
  padding: 30px;

  input {
    margin: 5px;
    width: 900px;
    height: 40px;
    padding-left: 13px;
    border: 1px solid black;
  }
  }

  .address_mom_wrap {
display: flex;
justify-content: center;

.adress_wrap {
  width: 100%;  
  
  .postcode_input {
    width: 574px;
    height: 40px;
    margin-right: 17px;
    margin-left: -0.5px;
  }

  .postcode_btn {
    width: 310px;
    height: 40px;
    border: 1px solid black;
    background-color: white;
    color: rgb(118, 118, 118);
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #9797977a;
      color: black;
  }
}
}
}

.ad_mom {
  display: flex;
  justify-content: center;

  .ad_btn_submit_blk {
    width: 400px;
    height: 45px;
    border-radius: 60px;
    margin-top: 70px;
    line-height: 37px;
  }
  
  .ad_btn_submit_wht {
    background-color: white;
    border: 1px solid black;
    color: black;
    width: 400px;
    height: 45px;
    border-radius: 60px;
    margin-top: 70px;
    line-height: 37px;
  }
}


.phone-number {
  display: flex;
}

input[type="tel"] {
  width: 80px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

label {
  margin: 0 4px;
  font-size: 16px;
  font-weight: bold;
  color: #444;
}
