.titleArea {
  width: 100%;
  text-align: center;
  padding-bottom: 40px;

  h2 {
    font-weight: bold;
    font-size: 14px;
  }
}

.ad_wrap {
  text-align: center;
  padding: 30px;

  input {
    margin: 5px;
    width: 900px;
    height: 40px;
    padding-left: 12px;
    border: 1px solid black;
  }

  .address_postnum {
    display: flex;
    justify-content: center;
  }

  .postnum {
    justify-content: center;
    align-items: center;
    display: block;
    border: 1px solid black;
    width: 200px;
    height: 40px;
    // margin-left: 40px;
    margin-left:  10px;
    margin-top: 4.5px;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: black;
      color: white;
    }

    a {
      display: block;
      text-align: center;
      line-height: 40px;
      font-size: 12px;
      color: rgb(118, 118, 118);
      text-decoration: none;
      transition: background-color 0.3s ease;

      &:hover {
        color: white;
      }
    }
  }
}

.ad_mom {
  display: flex;
  justify-content: center;

  .ad_btn_submit_blk {
    width: 400px;
    height: 45px;
    border-radius: 60px;
    margin-top: 70px;
    line-height: 37px;
  }
  
  .ad_btn_submit_wht {
    background-color: white;
    border: 1px solid black;
    color: black;
    width: 400px;
    height: 45px;
    border-radius: 60px;
    margin-top: 70px;
    line-height: 37px;
  }
}

