body {
}

.titleArea {
  width: 100%;
  padding-top: 150px;
  text-align: center;

  h2 {
    font-weight: bold;
  }
}

.subtitle {
  font-size: 14px;
}

.agreement {
  font-size: 12px;
  // margin: 50px;
  padding: 70px 150px 150px 150px;
  // padding: 0;
  // justify-content: center;
}