
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
}

footer.footer_client {
  position: relative;
  border-top: solid 0.5px black;
  bottom: -80vh;
  width: 100%;
  height: 50px;
  white-space: nowrap;
  left: -1.2em;

  #foot_li {
    height: inherit;
    display: flex;
    font-size: 0.7em;
    list-style: none;
    list-style-type: none;
  }

  p {
    left: -2vw;
    cursor: pointer;
    margin-right: 1.3em;
  }
}

// right

