.titleArea {
  width: 100%;
  padding-top: 150px;
  text-align: center;

  h2 {
    font-weight: bold;
  }
}

.subtitle {
  font-size: 14px;
}

.guide {
  font-size: 12px;
  padding: 70px 150px 150px 150px;

  p {
    font-weight: bold;
    font-size: 12.5px;
  }

  .my-span {
    font-weight: bold;
  }
}