
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
}

header.header_client {
  box-sizing: border-box;
  position: fixed;
  border-bottom: solid 0.5px black;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  padding: 0px 75px;

  .logo {
    cursor: pointer;
    font-size: 283%;
    font-weight: 600;
    font-style: italic;
  }

  // MAIN MENU
 #cate {
    font-size: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  #cate_li {
    cursor: pointer;
    list-style: none;
    list-style-type: none;
  }

  #cate2 {
    position: relative;
    font-size: 80%;
    display: flex;
    gap: 30px;
  }

  #cate_li2 {
    cursor: pointer;
    list-style: none;
    list-style-type: none;
  }
}

