.titleArea {
  width: 100%;
  text-align: center;
  margin: 

  h2 {
    font-weight: bold;
    font-size: 14px;
  }
}

.account_wrap {
  position: absolute;
  display: flex;
  width: 1200px;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  margin-left: 250px;
}

.information {
    display: flex;
    padding: 6px 0;
    width: 100%;
    border: 1px solid rgb(36, 35, 35);
    margin-bottom: 30px;

    .thumbnail {
      margin: 30px 80px;
      padding: 0;

      .thumbnail > img {
        width: 100px;
        height: auto;
      }
    }
}

.description {
  margin: auto;
  padding-right: 350px;

span {
  font-size: 14px;
}

.namegrade {
  font-weight: bold;
}

.price {
  font-weight: bold;
}

.percent {
  font-weight: bold;
}
}

.orderstate_box {
  display: table;
  table-layout:fixed;
  padding: 20px;
  width: 100%;
  height: 150px;
  border: 1px solid black; 
  flex-direction: column; 
  margin-bottom: 30px;

    h3 {
      font-size: 14px;
      font-weight: 600;
      padding-bottom: 10px;

      span {
        font-size: 12px;
        font-weight: 300;
      }
    }

    .title_order {
      border-bottom: 1px solid black;
      margin-bottom: 20px;
    }

  }


  .order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 17px;

    li {
      font-size: 14px;
      margin: auto;
      list-style: none;
      list-style-type: none;

      a {
        margin: auto;
        text-decoration: none;
        color: black;
      }
    }
    
    #count {
      display: flex;
      justify-content: flex-start; 
    }
  }

  .cs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li {
      list-style: none;
      list-style-type: none;
      font-size: 14px;

      a {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        #count {
          margin-left: 150px;
        }
      }
    }
  }

  .fourbox {
    display: flex;
    justify-content: space-between;
    border: 2px;
    padding-bottom: 150px;

    .shopmain_order {
      width: 530px;
      height: 100px;
      background-color: red;
      margin-bottom: 30px;
    }

    .shopmain_profile {
      width: 530px;
      height: 100px;
      background-color: blue;
    }

    .shopmain_address {
      width: 530px;
      height: 100px;
      background-color: green;
      margin-bottom: 30px;
    }

    .shopmain_mypick {
      width: 530px;
      height: 100px;
      background-color: orange;
    }
  }