nav.navbar_admin {
  border-right: solid 0.5px black;
  width: 200px;
  height: 100vh;
  display: inline-block;
  // background-color: blue;
  // border-bottom: 0.5px solid black;

  ul {
    list-style: none;
    padding: 100px 40px;
    li{
    margin-bottom: 30px;
    cursor: pointer;
    &:hover {
      color: grey;
    }
   }
  }
}
