.order_main {
  top: 80px;
  background-color: rgb(255, 208, 208);
  position: relative;
  width: 100vw;
  height: 650px; 
  
  .order_title{
    text-align: center;
  }

  .order_product_title{
    
  }
}