section.productRegister_admin {
  width: 100%;
  // background-color: bisque;
  border-bottom: 0.5px solid black;
  .register_container {
    padding: 30px;
    div {
      display: flex;
      align-items: center;
      padding: 10px;
  
      p {
        display: block;
        margin-right: 20px;
        margin-top: auto;
        margin-bottom: auto;
      }
      input {
        display: block;
      }
    }
    
  }
}
