.client_main {
  position: relative;
  width: 100vw;
  z-index: 1;
  // background-color: beige;
  
  nav {
    position: relative;
    top: 70px;
    background-color: white;
    border-bottom: solid 0.5px black;

    ul {
      display: flex;
      padding-top: 12px;
      padding-bottom: 2px;
      padding-left: 35px;
      align-items: center;

      li {
       cursor: pointer;
       padding: 5px 20px 2px;
       font-size: 70%;
       list-style: none;
       color: rgb(84, 84, 84);
      &:hover {
        color: rgb(0, 0, 0);
      }
      }
    }
  }

  .product_display {
    top: 80px;
    // background-color: rgb(255, 208, 208);
    position: relative;
    width: 100vw;
    height: 650px;
  }
  .swiper_pagination_container{
    position: absolute;
    bottom: 25px;
    right: 50%;
    transform: translateX(50%);
    bottom: 10px;

    .pagi1.on{
      text-decoration: underline;
    }
    .pagi2.on{
      text-decoration: underline;
    }
    .pagi3.on{
      text-decoration: underline;
    }
    .pagi4.on{
      text-decoration: underline;
    }
  }

  .swiper_navigation_container {
    position: absolute;
    bottom: 19px;
    right: 50%;
    transform: translateX(50%);
    .nav_arrow_pre{
      padding-right: 120px;
    }
    .nav_arrow_next{
      padding-left: 120px;
    }
  }
}

.swiper-slide.swiper_slide.swiper-slide-prev {
  margin: 0px !important;
}

.swiper-slide.swiper_slide.swiper-slide-active {
  margin: 0px !important;
}